<h2>Welcome!</h2>
<p> The time is <%= Time.now %></p>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			First
		</div><!--col-4-->
		<div class="col-sm-4">
			Second
		</div><!--col-4-->
		<div class="col-sm-4">
			Third
		</div><!--col-4-->
	</div><!--row-->
</div><!--container-->