<div class="container">
	<div class="row row-centered">
		<div class="col-sm-4 col-centered">
			The time is <%= Time.now %> 
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			<%= link_to "Quantopian", "https://www.quantopian.com/algorithms" %>
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			For what will it profit a man if he gains the whole world, yet forfeits his soul?
		</div><!--col-4 col-centered-->
	</div><!--row row-centered-->
</div><!--container-->