<div class="container">
	<div class="row row-centered">
		<div class="col-sm-4 col-centered">
			First The time is <%= Time.now %> 
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			Second
		</div><!--col-4 col-centered-->
		<div class="col-sm-4 col-centered">
			Third
		</div><!--col-4 col-centered-->
	</div><!--row row-centered-->
</div><!--container-->