// Place all the styles related to the Algorithms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.algorithms {
	th {
		font-size: 1.5em;
		padding: 10px 2px 0px 2px;
	}
	td {
		font-size: 1.3em;
		padding: 5px 2px 10px 2px;
	}
	.add-space {
		padding-left: 20px;
		padding-right: 10px
	} 

	/********************************* Show Algo Page *******************/
	div.algo-details {
		font-size: 1.5em;
		line-height: 135%;
		margin: 0 0 15px 0;
	}
}
