/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= reuire bootstrap.css
 *= require_tree .
 *= require_self
 */

/********************************* CENTER TEXT IN COLUMNS ***********************************/
.row-centered {
	text-align: center;
	margin-right: 0px;
}

.col-centered {	
}
 
/********************************* Fix lack of padding in first child li element in nav-bar */
/* Only apply when nav bar is displayed horizontally >= 768px in size */
@media (min-width: 768px) {
	.navbar .navbar-nav li:first-child {
		padding: 0 0 0 15px;
	}
}

/********************************* NAVIVATION STYLES ***************************************/
.navbar .navbar-nav li {
	font-size: 1.5em;
	text-align: center;
}

div.navbar.navbar-inverse {
	margin-bottom: 0;
	border-radius: 0 0 0 0;
}

/********************************* Fixes display issue where active element extends farther to 
the right than all other elements on page... noticable on smart phone.  Who knew margin could 
cause so much trouble. **********************************************************************/
ul.nav.navbar-nav {
	margin: 0px;
}

/********************************* NAVIGATION DROPDOWN STYLES *******************************/
.dropdown-toggle {
	float: right;
	color: #9d9d9d;
	font-size: 1.5em;
	font-family: Georgia, serif;
	padding: 15px;
}

.dropdown-toggle:hover {
	color: #fff;
	text-decoration: none;
}

.dropdown-menu {
	margin-top: 50px;
	padding: 0px;
}

.dropdown-menu > .active > a{
	background-color: #000;
}

.dropdown-menu > .active > a:hover{
	background-color: #000;
}

.dropdown-menu > div > a:hover {
	background-color: #000;
}

.dropdown-item a{
	display: block;
	color: #9d9d9d;
	font-family: Georgia, serif;
	font-size: 1.5em;
	background-color: #222;
	text-align: center;
	padding: 10px 0px;
	border-bottom: solid 1px #000;
	border-top: solid 1px #555;
}

.dropdown-item a:hover {
	color: #fff;
}

@media (max-width: 767px) {
	.dropdown-toggle {
		float: none;
	}
	div.dropdown {
		padding: 11px;
	}
	.dropdown-menu {
		margin-top: 0px;
	}
}

/********************************* HEADER STYLES ********************************************/
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	color: #007f80;
	}

h1, h3.add-line {
	line-height: 135%;
	display: inline-block;
	}

/********************************* Add line below header ************************************/
h1:after, .add-line {
	content: ' ';
	display: block;
	border-bottom: 2px solid #b3cccc;
}

h1::first-letter {
	font-size: 1.3em;
}

/********************************* Make paragraphs and lists easier to read *****************/
p, li {
	font-family: Georgia, serif;
	font-size: 1.2em;
	line-height: 180%;
	text-align: left;
}

/********************************* GENERAL LINK STYLES **************************************/
a {
	color: #006080;
}

a:hover {
	text-decoration: none;
}

/********************************* FOOTER STYLES ********************************************/
.footer {
	margin-top: 50px;
	background-color: #000;
	background-image: url("mountain-pixabay.png");
	background-repeat: no-repeat;
	background-position: center -280px;
	padding-bottom: 300px;
}

@media (max-width: 767px) {
	.footer {
	margin-top: 30px;
	background-size: contain;
	background-position: center;
	padding-bottom: 60%;
	}
}

/********************************* REDO BOOTSTRAP BUTTON STYLES *****************************/
.btn-primary {
	background-color: #00b2b3;
	border-color: #009999;
}
.btn-primary:hover {
	background-color: #009999;
	border-color: #008080;
}
.btn-info {
	background-color: #0086b3;
	border-color: #007399;
}
.btn-info:hover {
	background-color: #007399;
	border-color: #006080;
}
.btn-warning {
	background-color: #ff8c1a;
	border-color: #ff8000;
}
.btn-warning:hover {
	background-color: #ff8000;
	border-color: #e67300;
}

/********************************* Center paragraphs when columns are stacked **************/
@media (max-width: 767px) {
	p {
		text-align: center
	}
}

/********************************* FLASH MESSAGE STYLES ************************************/
.notice {
	color: #000;
	background-color: #66cc00;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin: 5px 25%;
	border-radius: 5px;
}

@media (max-width: 767px) {
	.notice {
		margin: 5px 1%;
	}
}

.alert {
	color: #000;
	background-color: #cc9900;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin: 5px 25%;
	border-radius: 5px;
}

@media (max-width: 767px) {
	.alert {
		margin: 5px 1%;
	}
}