// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
	div.clickable-link {
		font-size: 1.5em;
		padding: 2%;
		margin: 1%;
	}
}